.accessibility {
    background-color: #151618;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    width: 15vw;
    border-right: 1px solid #3a3c41;
    padding: 10px 20px;
    gap: 10px;
    overflow-y: scroll;
}

.accessibility::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
}

.accessibility::-webkit-scrollbar-track {
    background-color: #3a3c41;
}

.accessibility::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.accessibility-workspace-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accessibility-workspace-name {
    color: white;
    font-weight: 800;
    font-size: 18px;
}

.top-accessibility-btns-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 30px 0px;
    gap: 5px;
}

.top-accessibility-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bi-chat-text, .bi-send {
    color: #a1a3a4;
    font-size: 20px;
}

.accessibility-btns-span {
    color: #a1a3a4;
}

.channels-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    margin: 0px 0px 30px 0px;
}

.channels-span-title {
    color: #a1a3a4;
    font-size: 15px;
}

.bi-caret-down-fill {
    color: #a1a3a4;
    font-size: 15px;
}

.channels-container {
    width: 100%;
}

.create-new-channel-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.accessibility-create-channel {
    display: flex;
    align-items: start;
    justify-items: center;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.accessibility-create-channel:hover {
    background-color: #27292b;
}

.add-channels-span {
    color: #a1a3a4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.channel-name-true {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-top: 20px;
    background-color: #3a3c41;
    padding: 5px;
    border-radius: 5px;
}

.channel-name-false {
    display: none;
}

.channel-name-label {
    color: #a1a3a4;
    font-size: 15px;
}

.channel-name-input {
    width: 100%;
    background: none;
    border: none;
    background-color: #151618;
    padding: 5px;
    color: #a1a3a4;
    border-radius: 5px;
}

.channel-name-input:focus {
    outline: none;
}

.submit-new-channel-btn {
    background-color: #3a3c41;
    padding: 5px;
    border-radius: 5px;
    color: #a1a3a4;
    transition: all 0.5s ease-in-out;
}

.submit-new-channel-btn:hover {
    outline: 1px solid white;
}

.channel-name-error-true {
    display: flex;
    color: red;
    font-size: 14px;
}

.channel-name-error-false {
    display: none;
}
