.aside {
    background-color: #151618;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    width: 20vw;
    border-right: 1px solid #3a3c41;
    padding: 10px 15px;
    gap: 10px;
    overflow-y: scroll;
}

.aside::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

.aside::-webkit-scrollbar-track {
    background-color: #3a3c41;
}

.aside::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.aside-workspace-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.aside-workspace-name {
    color: white;
    font-weight: 800;
    font-size: 18px;
}

.channels-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.channels-span-title {
    color: #a1a3a4;
    font-size: 15px;
}

.channels-container {
    width: 100%;
}

.create-new-channel-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.aside-create-channel {
    display: flex;
    align-items: start;
    justify-items: center;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.aside-create-channel:hover {
    background-color: #27292b;
}

.add-channels-span {
    color: #a1a3a4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.channel-name-true {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-top: 20px;
    background-color: #3a3c41;
    padding: 5px;
    border-radius: 5px;
}

.channel-name-false {
    display: none;
}

.channel-name-label {
    color: #a1a3a4;
    font-size: 15px;
}

.channel-name-input {
    width: 100%;
    background: none;
    border: none;
    background-color: #151618;
    padding: 5px;
    color: #a1a3a4;
    border-radius: 5px;
    font-size: 15px;
}

.channel-name-input:focus {
    outline: none;
}

.submit-new-channel-btn {
    background-color: #3a3c41;
    padding: 5px;
    border-radius: 5px;
    color: #a1a3a4;
    transition: all 0.5s ease-in-out;
    border: 1px solid #a1a3a4;
}

.submit-new-channel-btn:hover {
    outline: 1px solid white;
}

.channel-name-error-true {
    display: flex;
    color: red;
    font-size: 15px;
}

.channel-name-error-false {
    display: none;
}

@media (max-width: 1200px) {
    .aside {
        width: 25vw;
    }
}

@media (max-width: 800px) {
    .aside-workspace-name {
        font-size: 14px;
    }
    .channels-span-title {
        font-size: 12px;
    }
    .aside {
        width: 30vw;
        padding: 10px 10px;
    }
    .channel-name-label, .channel-name-error-true, .channel-name-input {
        font-size: 13px;
    }
}


@media (max-width: 500px) {
    .aside-workspace-name {
        font-size: 12px;
    }
    .channels-span-title {
        font-size: 10px;
    }
    .aside {
        width: 35vw;
        padding: 10px 2px;
    }   
    .channel-name-label, .channel-name-error-true, .channel-name-input {
        font-size: 10px;
    }
}