.DM {
    display: flex;
    align-items: center;
    gap: 10px;
}

.DM-user-img {
    width: 20px;
    border-radius: 5px;
}

.DM-span-container {
    display: flex;
    gap: 5px;
}

.DM-self-user {
    color: #a7a9a9;
}

.you-span {
    color: #767879;
}