.create-workspace-form-container {
    height: 100vh;
    background-color: #22252a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    margin-top: 100px;
}

.create-workspace {
    margin-top: 50px;
    width: 1000px;
    height: 50vh;
    background-color: #fafafa;
    border: 4px solid #414449;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 18px;
    font-weight: 800;
}

.workspace-name-container,
.channel-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.workspace-name,
.channel-name {
    width: 30vw;
    height: 5vh;
    padding: 20px;
    font-size: 20px;
    border: 3px solid #414449;
    border-radius: 5px;
}

.error-span {
    font-size: 18px;
    font-weight: 800;
    color: red;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px;
}

.confirm-workspace {
    font-size: 18px;
    font-weight: 800;
    width: 400px;
    height: 5vh;
    border-radius: 5px;
    background-color: #fafafa;
    border: 2px solid #414449;
    transition: all 0.5s ease-in-out;
}

.confirm-workspace:hover {
    border: 2px solid #151618;
    text-decoration: underline;
}

.back-workspace {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #22252a;
    font-size: 18px;
    font-weight: 800;
    color: white;
    width: 400px;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid #fafafa;
    transition: all 0.5s ease-in-out;
}

.back-workspace:hover {
    background-color: #151618;
    text-decoration: underline;
}

@media (max-width: 1350px) {
    .create-workspace,
    .inputs-container {
        width: 800px;
    }

    .label {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .create-workspace,
    .inputs-container {
        width: 600px;
    }
}

@media (max-width: 1000px) {
    .create-workspace,
    .inputs-container {
        width: 500px;
    }

    .workspace-name,
    .channel-name {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .create-workspace,
    .inputs-container {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .create-workspace,
    .inputs-container {
        width: 300px;
    }

    .title {
        font-size: 20px;
    }

    .workspace-name,
    .channel-name {
        font-size: 13px;
        padding: 2px;
    }
}

@media (max-width: 350px) {}
