.header {
    height: 10vh;
    background-color: #22252a;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.3s ease;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    margin: 0 50px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.list-container {
    display: flex;
    gap: 25px;
}

.li-btn {
    color: white;
    font-size: 16px;
    font-weight: 800;
}

.li-btn:hover {
    text-decoration: underline;
}

.bi-x, .bi-list {
    display: none;
}

.btn-list {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-create-workspace-btn {
    text-decoration: none;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid #22252a;
    color: #22252a;
    font-weight: 800;
    outline: 2px solid transparent;
    transition: all 0.5s ease;
}

.header-create-workspace-btn:hover {
    border-radius: 2px;
    outline: 2px solid #414449;
    border: 3px solid #535557;
}

@media (max-width: 1350px) {
    .btn-list {
        display: none;
    }

    .navbar-btn {
        border-radius: 5px;
        width: 30px;
        height: 30px;
        color: white;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-list.open {
        padding: 25px 50px;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #22252a;
        z-index: 10;
    }

    .btn-list.open {
        display: flex;
        z-index: 10;
    }

    .header-create-workspace-btn  {
        display: none;
    }

    .bi-list {
        display: flex;
        z-index: 20;
    }

    .bi-x {
        display: flex;
        z-index: 20;
        position: relative;
        left: 85vw;
        top: 3vh;
    }

    .navbar-btn.close-ham-menu {
        display: flex;
        left: 80vw;
    }

    .list-container {
        display: none;
    }

    .list-container.open {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 1200px) {
    .navbar-btn.close-ham-menu {
        left: 70vw;
    }
    .bi-x {
        left: 80vw;
    }
}

@media (max-width: 1000px) {
    .navbar-btn.close-ham-menu {
        left: 65vw;
    }
    .bi-x {
        left: 75vw;
    }
}

@media (max-width: 800px) {
    .navbar-btn.close-ham-menu {
        left: 60vw;
    }
    .bi-x {
        left: 70vw;
    }
}

@media (max-width: 500px) {
    .navbar-btn.close-ham-menu {
        left: 50vw;
    }
    .bi-x {
        left: 60vw;
    }
}

@media (max-width: 350px) {
    .navbar-btn.close-ham-menu {
        left: 40vw;
    }
    .bi-x {
        left: 50vw;
    }
}
