.footer {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reset-localStorage-refresh-media-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 10vh;
}

.reset-localStorage-refresh-container {
    margin: 100px 0;
    display: flex;
    gap: 20px;
}

.reset-localStorage-btn, .refresh-page-btn {
    background-color: transparent;
    font-size: 16px;
    font-weight: 800;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    border: 1px solid #1a1d22;
}

.reset-localStorage-btn:hover, .refresh-page-btn:hover {
    background-color: #58b6e4;
}

.social-media-container {
    margin: 20px;
    display: flex;
    gap: 30px;
}

.social-media-item {
    color: black;
    font-size: 18px;
    border-radius: 5px;
}

.social-media-item:hover {
    color: #58b6e4;
}

.legal-section {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-copyright {
    color: #757575;
    font-size: 14px;
}

.span-copyright {
    color: #757575;
    font-size: 14px;
}

@media (max-width: 1350px) {
    .reset-localStorage-refresh-media-container, .legal-section {
        width: 1000px;
    }
}

@media (max-width: 1200px) {
    .reset-localStorage-refresh-media-container, .legal-section {
        width: 900px;
    }
}

@media (max-width: 1000px) {
    .reset-localStorage-refresh-media-container, .legal-section {
        width: 700px;
    }
    .social-media-container {
        gap: 20px;
    }
}

@media (max-width: 800px) {
    .reset-localStorage-refresh-media-container, .legal-section {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .reset-localStorage-refresh-media-container {
        position: relative;
        bottom: 50px;
        width: 350px;
        flex-direction: column;
        height: 300px;
    }
    .legal-section {
        width: 350px;
    }
    .social-media-container {
        gap: 10px;
    }

}

@media (max-width: 350px) {
    .reset-localStorage-refresh-media-container, .legal-section {
        width: 300px;
    }
}
