.main {
    background-color: #22252a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.welcome-back-container {
    margin-top: 30px;
    color: white;
    width: 1200px;
    display: flex;
    align-items: center;
}

.welcome-back-title {
    font-size: 50px;
    font-weight: 800;
}

.main-child {
    margin: 60px;
    width: 1200px;
    border-radius: 10px;
}

.workspaces-container {
    background-color: #fafafa;
    border: 4px solid #414449;
    border-radius: 10px;
    overflow: hidden;
}

.user-workspaces-container {
    background-color: #ecdeed;
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.user-workspaces {
    font-size: large;
    font-weight: 800;
}

.create-new-workspace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 20px;
}

.workspace-img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid black;
}

.launch-slack-btn {
    text-decoration: none;
    color: white;
    font-weight: 800;
    border-radius: 5px;
    padding: 18px;
    background-color: #611f69;
    transition: all 0.5s ease;
}

.launch-slack-btn:hover {
    background-color: #49144a;
}

.create-a-new-workspace-container {
    width: 1200px;
    border-radius: 10px;
    background-color: #fafafa;
    border: 4px solid #414449;
    height: 97px;
    display: flex;
    margin: 40px;
}

.span-btn-container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.want-to-switch-team-span {
    font-size: 18px;
    font-weight: 800;
}

.change-account-container {
    margin-bottom: 50px;
}

.change-email-span {
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
}

.change-email-link {
    color: #58b6e4;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease;
}

.change-email-link:hover {
    color: #58b6e4;
    font-size: 18px;
    border-bottom: 2px solid #58b6e4;
}

@media (max-width: 1250px) {
    .create-a-new-workspace-container {
        width: 1000px;
    }
    .main-child {
        width: 1000px;
    }
    .welcome-back-container {
        width: 1000px;
    }
}