.message-input-container {
    height: 70px;
    background-color: #22252a;
    margin: 20px;
    border: 2px solid #4e5053;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    bottom: 20px;
}

.message-input {
    background-color: transparent;
    border: none;
    width: 95%;
    height: 70%;
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 16px;
    cursor: text;
}

.message-input:focus {
    outline: none;
}

.send-icon {
    border: 1px solid #4e5053;
    padding: 10px;
    border-radius: 50px;
    color: white;
}

@media (max-width: 1200px) {
    .message-input-container {
        height: 60px;
    }
    .send-icon {
        padding: 8px;
    }
}

@media (max-width: 800px) {
    .message-input-container {
        height: 50px;
        margin: 15px;
    }
    .message-input {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .message-input-container {
        height: 40px;
        margin: 10px;
    }
    .message-input {
        font-size: 12px;
        padding: 5px;
    }
    .send-icon {
        padding: 6px;
    }
}