.message-input-container {
    height: 70px;
    background-color: #22252a;
    margin: 20px;
    border: 2px solid #4e5053;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.message-input {
    background-color: transparent;
    border: none;
    width: 95%;
    height: 70%;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: text;
}

.message-input:focus {
    outline: none;
}

.send-icon {
    border: 1px solid #4e5053;
    padding: 10px;
    border-radius: 50px;
    color: white;
}
