.content-section {
    width: 80vw;
    height: calc(100vh - 40px);
    background-color: #1a1d22;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accessibility-info {
    border-bottom: 1px solid #3a3c41;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.accessibility-span-name {
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 18px;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 5px;
}

.bi-chevron-down {
    font-size: 14px;
}

.user-profile-img {
    width: 24px;
    height: 24px;
    border-radius: 5px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    height: 100%;
}

.messages::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

.messages::-webkit-scrollbar-track {
    background-color: #3a3c41;
}

.messages::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

@media (max-width: 1200px) {
    .content-section {
        width: 75vw;
    }   
}

@media (max-width: 800px) {
    .content-section {
        width: 70vw;
    }   
}

@media (max-width: 500px) {
    .content-section {
        width: 65vw;
    }   
}