.workspace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding: 20px;
}

.workspace-title {
    text-decoration: solid;
    font-size: 20px;
    font-weight: 800;
}

.img-info-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.info-workspace-container {
    display: flex;
    flex-direction: column;
}

.workspace-img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid black;
}

.launch-slack-btn:hover {
    background-origin: #4f1852;
}

@media (max-width: 1000px) {
    .workspace {
        flex-direction: column;
        gap: 30px;
    }
    .info-workspace-container {
        align-items: center;
    }
}

@media (max-width: 500px) {

}

@media (max-width: 350px) {

}