.workspace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    border-bottom: 1px solid #eaeaea;
    padding: 20px;
}

.img-info-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.workspace-img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid black;
}

.launch-slack-btn:hover {
    background-origin: #4f1852;
}